@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

html {
  background-color: #242d3d;
  color: #df5119;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  text-align: center;
}

#mode-header {
  margin-top: 2rem;
  margin-bottom: 0;
}

#time-remaining {
  font-size: 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#relax-slider {
  margin-bottom: 2rem;
}

#buttons {
  margin-bottom: 2rem;
}

#created-by {
  color: #8196b8;
}

#created-by a {
  color: #8196b8;
}

a {
  color: #df5119;
}

input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: #4c6081;
  color: #ebebeb;
  border: none;
  padding: 1rem;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-radius: 3rem;
  cursor: pointer;
  outline: none;
}

input[type="button"]:disabled {
  background-color: #354257;
  color: #949494;
  cursor: default;
}

#work-slider, #relax-slider {
  font-size: 1.2rem;
}

#about {
  font-size: 1rem;
}